version: "3.9"

services:
  frontend:
    build:
      context: ./frontend/datn-frontend
      dockerfile: Dockerfile
      args:
        VITE_GATEWAY_SERVICE_URL: ${VITE_GATEWAY_SERVICE_URL}
        VITE_MINIO_ENDPOINT: ${VITE_MINIO_ENDPOINT}
    container_name: frontend
    env_file:
      - frontend.env
    ports:
      - "5173:5173"
    restart: unless-stopped
    networks:
      - micro_net

  gateway:
    build:
      context: ./gateway/SpringGateway
      dockerfile: Dockerfile
    container_name: gateway
    env_file:
      - gateway.env
    ports:
      - "${GATEWAY_PORT}:8080"
    restart: unless-stopped
    networks:
      - micro_net

  user-service:
    build:
      context: ./services/UserService
      dockerfile: Dockerfile
    container_name: user-service
    env_file:
      - user-service.env
    ports:
      - "${USER_SERVICE_PORT}:5000"
    restart: unless-stopped
    depends_on:
      - user-db
      - rabbitmq
      - minio
    networks:
      - micro_net

  admin-service:
    build:
      context: ./services/AdminService
      dockerfile: Dockerfile
    container_name: admin-service
    env_file:
      - admin-service.env
    ports:
      - "${ADMIN_SERVICE_PORT}:5001"
    restart: unless-stopped
    depends_on:
      - admin-db
      - rabbitmq
    networks:
      - micro_net
  
  recommend-service:
    build:
      context: ./services/RecommendService
      dockerfile: Dockerfile
    container_name: recommend-service
    env_file:
      - recommend-service.env
    ports:
      - "${RECOMMEND_SERVICE_PORT}:5002"
    restart: unless-stopped
    depends_on:
      - recommend-db
      - rabbitmq
      - minio
    networks:
      - micro_net

  notification-service:
    build:
      context: ./services/NotificationService
      dockerfile: Dockerfile
    container_name: notification-service
    env_file:
      - notification-service.env
    ports:
      - "${NOTIFICATION_SERVICE_PORT}:5003"
    restart: unless-stopped
    depends_on:
      - notification-db
      - rabbitmq
    networks:
      - micro_net

  recruit-service:
    build:
      context: ./services/RecruitService
      dockerfile: Dockerfile
    container_name: recruit-service
    env_file:
      - recruit-service.env
    ports:
      - "${RECRUIT_SERVICE_PORT}:5004"
    restart: unless-stopped
    depends_on:
      - recruit-db
      - rabbitmq
      - minio
    networks:
      - micro_net
      
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    ports:
      - "${USER_DB_PORT}:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - micro_net

  admin-db:
    image: postgres:15-alpine
    container_name: admin-db
    environment:
      POSTGRES_USER: ${ADMIN_DB_USER}
      POSTGRES_PASSWORD: ${ADMIN_DB_PASSWORD}
      POSTGRES_DB: ${ADMIN_DB_NAME}
    ports:
      - "${ADMIN_DB_PORT}:5432"
    volumes:
      - admin_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - micro_net

  recommend-db:
    image: ankane/pgvector
    container_name: recommend-db
    environment:
      POSTGRES_USER: ${RECOMMEND_DB_USER}
      POSTGRES_PASSWORD: ${RECOMMEND_DB_PASSWORD}
      POSTGRES_DB: ${RECOMMEND_DB_NAME}
    ports:
      - "${RECOMMEND_DB_PORT}:5432"
    volumes:
      - recommend_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - micro_net

  notification-db:
    image: postgres:15-alpine
    container_name: notification-db
    environment:
      POSTGRES_USER: ${NOTIFY_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFY_DB_PASSWORD}
      POSTGRES_DB: ${NOTIFY_DB_NAME}
    ports:
      - "${NOTIFY_DB_PORT}:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - micro_net

  recruit-db:
    image: postgres:15-alpine
    container_name: recruit-db
    environment:
      POSTGRES_USER: ${RECRUIT_DB_USER}
      POSTGRES_PASSWORD: ${RECRUIT_DB_PASSWORD}
      POSTGRES_DB: ${RECRUIT_DB_NAME}
    ports:
      - "${RECRUIT_DB_PORT}:5432"
    volumes:
      - recruit_db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - micro_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_UI_PORT}:15672"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - micro_net

  minio:
    image: minio/minio:RELEASE.2025-02-03T21-03-04Z-cpuv1
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped
    networks:
      - micro_net

volumes:
  user_db_data:
  admin_db_data:
  recommend_db_data:
  notification_db_data:
  recruit_db_data:
  minio_data:

networks:
  micro_net:
    driver: bridge
