version: "3.9"

services:    
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    ports:
      - "${USER_DB_PORT}:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  admin-db:
    image: postgres:15-alpine
    container_name: admin-db
    environment:
      POSTGRES_USER: ${ADMIN_DB_USER}
      POSTGRES_PASSWORD: ${ADMIN_DB_PASSWORD}
      POSTGRES_DB: ${ADMIN_DB_NAME}
    ports:
      - "${ADMIN_DB_PORT}:5432"
    volumes:
      - admin_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  recommend-db:
    image: ankane/pgvector
    container_name: recommend-db
    environment:
      POSTGRES_USER: ${RECOMMEND_DB_USER}
      POSTGRES_PASSWORD: ${RECOMMEND_DB_PASSWORD}
      POSTGRES_DB: ${RECOMMEND_DB_NAME}
    ports:
      - "${RECOMMEND_DB_PORT}:5432"
    volumes:
      - recommend_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  notification-db:
    image: postgres:15-alpine
    container_name: notification-db
    environment:
      POSTGRES_USER: ${NOTIFY_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFY_DB_PASSWORD}
      POSTGRES_DB: ${NOTIFY_DB_NAME}
    ports:
      - "${NOTIFY_DB_PORT}:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  recruit-db:
    image: postgres:15-alpine
    container_name: recruit-db
    environment:
      POSTGRES_USER: ${RECRUIT_DB_USER}
      POSTGRES_PASSWORD: ${RECRUIT_DB_PASSWORD}
      POSTGRES_DB: ${RECRUIT_DB_NAME}
    ports:
      - "${RECRUIT_DB_PORT}:5432"
    volumes:
      - recruit_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_UI_PORT}:15672"
    networks:
      - micro_net

  minio:
    image: minio/minio:RELEASE.2025-02-03T21-03-04Z-cpuv1
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
    networks:
      - micro_net

volumes:
  user_db_data:
  admin_db_data:
  recommend_db_data:
  notification_db_data:
  recruit_db_data:
  minio_data:

networks:
  micro_net:
    driver: bridge
