version: "3.9"

services:
  frontend:
    image: proxbucky/frontend:1.0.0
    container_name: frontend
    env_file:
      - frontend.env
    ports:
      - "5173:5173"
    networks:
      - micro_net

  gateway:
    image: proxbucky/gateway:1.0.0
    container_name: gateway
    env_file:
      - gateway.env
    ports:
      - "${GATEWAY_PORT}:8080"
    networks:
      - micro_net

  user-service:
    image: proxbucky/user-service:1.0.0
    container_name: user-service
    env_file:
      - user-service.env
    ports:
      - "${USER_SERVICE_PORT}:5000"
    depends_on:
      - user-db
      - rabbitmq
      - minio
    networks:
      - micro_net

  admin-service:
    image: proxbucky/admin-service:1.0.0
    container_name: admin-service
    env_file:
      - admin-service.env
    ports:
      - "${ADMIN_SERVICE_PORT}:5001"
    depends_on:
      - admin-db
      - rabbitmq
    networks:
      - micro_net

  recommend-service:
    image: proxbucky/recommend-service:1.0.0
    container_name: recommend-service
    env_file:
      - recommend-service.env
    ports:
      - "${RECOMMEND_SERVICE_PORT}:5002"
    depends_on:
      - recommend-db
      - rabbitmq
      - minio
    networks:
      - micro_net

  notification-service:
    image: proxbucky/notification-service:1.0.0
    container_name: notification-service
    env_file:
      - notification-service.env
    ports:
      - "${NOTIFICATION_SERVICE_PORT}:5003"
    depends_on:
      - notification-db
      - rabbitmq
    networks:
      - micro_net

  recruit-service:
    image: proxbucky/recruit-service:1.0.0
    container_name: recruit-service
    env_file:
      - recruit-service.env
    ports:
      - "${RECRUIT_SERVICE_PORT}:5004"
    depends_on:
      - recruit-db
      - rabbitmq
      - minio
    networks:
      - micro_net
      
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    volumes:
      - user_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  admin-db:
    image: postgres:15-alpine
    container_name: admin-db
    restart: always
    environment:
      POSTGRES_USER: ${ADMIN_DB_USER}
      POSTGRES_PASSWORD: ${ADMIN_DB_PASSWORD}
      POSTGRES_DB: ${ADMIN_DB_NAME}
    volumes:
      - admin_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  recommend-db:
    image: ankane/pgvector
    container_name: recommend-db
    restart: always
    environment:
      POSTGRES_USER: ${RECOMMEND_DB_USER}
      POSTGRES_PASSWORD: ${RECOMMEND_DB_PASSWORD}
      POSTGRES_DB: ${RECOMMEND_DB_NAME}
    volumes:
      - recommend_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  notification-db:
    image: postgres:15-alpine
    container_name: notification-db
    restart: always
    environment:
      POSTGRES_USER: ${NOTIFY_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFY_DB_PASSWORD}
      POSTGRES_DB: ${NOTIFY_DB_NAME}
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  recruit-db:
    image: postgres:15-alpine
    container_name: recruit-db
    restart: always
    environment:
      POSTGRES_USER: ${RECRUIT_DB_USER}
      POSTGRES_PASSWORD: ${RECRUIT_DB_PASSWORD}
      POSTGRES_DB: ${RECRUIT_DB_NAME}
    volumes:
      - recruit_db_data:/var/lib/postgresql/data
    networks:
      - micro_net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_UI_PORT}:15672"
    networks:
      - micro_net

  minio:
    image: minio/minio:RELEASE.2025-02-03T21-03-04Z-cpuv1
    container_name: minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
    networks:
      - micro_net

volumes:
  user_db_data:
  admin_db_data:
  recommend_db_data:
  notification_db_data:
  recruit_db_data:
  minio_data:

networks:
  micro_net:
    driver: bridge