/* 1. Import Google Fonts Lexend */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Root style */
:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fix mất scroll khi mở Dropdown/Dialog/Popover của Radix */
body.radix-scroll-lock {
  padding-right: var(--removed-body-scroll-bar-size) !important;
}


/* @import "tailwindcss/preflight"; */
/* @import "tailwindcss/utilities"; */
/* @plugin "tailwindcss-animate";
@import "tw-animate-css"; */
/* @import "tailwindcss"; */