aio_pika==9.5.7
aiofiles==25.1.0
aiohttp==3.12.12
asyncpg==0.30.0
fastapi==0.121.1
httpx==0.28.1
langdetect==1.0.9
openai==2.7.2
pydantic==2.12.4
PyPDF2==3.0.1
python-dotenv==1.2.1
python_docx==1.2.0
Requests==2.32.5
starlette==0.49.0
uvicorn==0.38.0
