# Dev environment configuration
server.port=

# PostgreSQL datasource
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect


# RabbitMQ connection
spring.rabbitmq.host=
spring.rabbitmq.port=
spring.rabbitmq.username=
spring.rabbitmq.password=

# Log event queue/exchange/routing key
log.exchange=
log.admin.queue=
log.admin.routing-key=

# External service configuration
external.user.service.url=
external.recruit.service.url=
external.recommend.service.url=