# Dev environment configuration
server.port=5000

# PostgreSQL datasource
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# JWT settings
jwt.secret=
jwt.expirationMs=3600000
jwt.refreshExpirationMs=604800000

# RabbitMQ connection
spring.rabbitmq.host=
spring.rabbitmq.port=5672
spring.rabbitmq.username=
spring.rabbitmq.password=

# User register event queue/exchange/routing key
notification.exchange=notification.exchange
notification.user.register.routing-key=user.register
notification.user.reset-password.routing-key=user.reset-password

log.exchange=log.exchange
log.activity.routing-key=activity.log


# MinIO configuration
minio.url=
minio.access-key=
minio.secret-key=
minio.bucket=datn

internal.secret=

# CORS configuration
cors.allowed-origins=

# --- Actuator configuration ---
management.endpoints.web.exposure.include=health,info,metrics
management.endpoint.health.show-details=always

# --- Add service name tag for easier identification ---
management.metrics.tags.application=user-service
